html {
    box-sizing: border-box;
  }

body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    background-image: url(Pictures/pexels-dom-j-310452.jpg);
}

body, select, .custom-checkbox+label::before{
    background-color: rgba(247, 247, 247, 0.993);
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
    height: 40px;
    width: 100%;
    background-color: rgba(166, 176, 218, 0.897);
    flex: 0 0 auto;
    font-family: 'Shizuru';
    font-weight: bold;
    font-size: large;
}

img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.content div {
    box-sizing: border-box;
    border-radius: 20px;
   /* border: 1px solid rgb(253, 148, 86);*/
    box-shadow: 0 0 10px rgb(120, 120, 120);
}

.content {
    padding: 0px;
    width: 462px;
    height: 462px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/*
.content div {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
}
*/
.choose {
    font-family: 'Redressed';
    font-size: 110%;
    color:rgba(38, 48, 90, 0.897);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:460px;
    height:50px;
    box-shadow: 0 0 5px rgba(166, 176, 218, 0.897);
    background-color: rgba(221, 219, 219,0.8);
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 5px;
}
.choose div {
    width: 225px;
    margin-left: 5px;    
}

.choose > div:first-child {
    border-right: 1px solid grey;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.choose > div:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.greeny {
    background-color: rgba(35, 161, 18, 0.8);
}

#start {
    font-family: 'Syne Tactile'; 
    font-size: larger;
    width: 100px;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 0px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(130, 141, 141, 0.897);
    background-color: rgb(35, 161, 18);
    color: white;
}

.null-background {
    background-color: rgba(247, 247, 247, 0.5);
}
.x-background {
    background-image: url(Pictures/820073.png);
    position: relative;
    background-position: -178px;
}

.o-background {
    background-image: url(Pictures/820073.png);
    position: relative;
    background-position: 7px;
}

.winner-field {
    background-color: rgba(255, 215, 0, 0.7);
}

.alert {
    width: 150px;
    height: 50px;
    background-color: rgb(35, 161, 18);
    border-radius: 10px;
    font-family: 'Redressed'; 
    font-size: larger;
    color: white;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
}

.player1 {
    display: flex;
    top:84px;
    left:250px;
}

.player2 {
    display: flex;
    top:84px;
    right:250px;
}

.tie {
    display: flex;
    margin-top: 5px;
    position: relative;
    width: 493px;
    height: 25px;
}

@font-face {
    /*Shizuru - regular*/ 
    font-family: "Shizuru"; 
    /*adress*/
    src: url("fonts/Shizuru-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: 'Syne Tactile';
    src: url("fonts/SyneTactile-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: 'Redressed'; 
    src: url("fonts/Redressed-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
} 


 

